<!DOCTYPE html>
<html>
<head>
    <title>Book Register</title>
</head>
<body>
    {% include "tool_bar.html" %}
    <h2>Book Registry </h2>
    <form method="post" action="/lib_book_register">


        <label for="bookid">Book Id:</label><br>
        <input type="text" id="bookid" name="bookid" required><br><br>

        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" value="{{previous_isbn}}" required><br><br>

        <button type="submit">Submit</button>
        {% if message %}
            <p>{{message}}<p>
        {% endif %}
    </form>
</body>
</html>